HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.env.chat
/.env.kimi
/.env.qwenplan
/.env.qwen
/plan.md
/start-claude.bat
/.aiassistant/rules
backup/
postgres_data/
postgres_dev_data/
.opencode

#打包用
.env
.claude/settings.local.json

.m2